- model_class = List
.page-header
  %h1 Les Listes de Propositions
%table.table.table-striped
  %thead
    %tr
      %th Nom
      %th Semaine
      %th Nombre de propositions
      %th Actions
  %tbody
    - @lists.each do |list|
      %tr
        %td= list.name
        %td= list.week.name
        %td= list.proposals.count
        %td
          = link_to "Consulter", list, class: 'btn btn-mini'
          = link_to "Modifier", edit_list_path(list), :class => 'btn btn-mini'
          = link_to "Supprimer", list_path(list), :method => :delete, :data => { :confirm => "Êtes-vous sûr ?" }, :class => 'btn btn-mini btn-danger'

= link_to "Nouvelle Liste", new_list_path, :class => 'btn btn-primary'
