- model_class = List
.page-header
  %h1 Détails Liste

%p
  %strong Nom:
  %br
  = @list.name
%p
  %strong Semaine:
  %br
  = @list.week.name
%h2 Propositions de la Liste
%table.table.table-striped
  %thead
    %tr
      %th Consultant
      %th Date Arrivée
      %th Nombre Jours
      %th Actions
  %tbody
    - @list.proposals.each do |proposal|
      %tr
        %td= proposal.consultant.name
        %td= proposal.date_arrivee
        %td= proposal.nombre_jours
        %td
          = link_to "Consulter", proposal, class: "btn btn-mini"
          = link_to "Modifier", edit_proposal_path(proposal), :class => 'btn btn-mini'
          = link_to "Supprimer", proposal_path(proposal), :method => :delete, :data => { :confirm => "Êtes-vous sûr ?" }, :class => 'btn btn-mini btn-danger'


.form-actions
  = link_to "Retour aux Listes", lists_path, :class => 'btn'
  = link_to "Modifier", edit_list_path(@list), :class => 'btn'
  = link_to "Supprimer", list_path(@list), :method => "delete", :data => { :confirm => "Êtes-vous sûr ?" }, :class => 'btn btn-danger'
