= simple_form_for @week, :html => { :class => 'form-horizontal' } do |f|
  = f.input :name, label: "Nom"
  = f.input :debut, label: "Date début", as: :string, :input_html => {:class => 'datepicker'}
  = f.input :fin, label: "Date fin", as: :string, :input_html => {:class => 'datepicker'}
  .form-actions
    = f.button :submit, :class => 'btn btn-primary'
    = link_to "Annuler", weeks_path, :class => 'btn'
:javascript
  $(".datepicker").datepicker({
    dateFormat: "dd-mm-yy",
    showWeek: true,
    firstDay: 1,
    showAnim: "slideDown"
  }); ;
