- model_class = Week
.page-header
  %h1 Les Semaines
%table.table.table-striped
  %thead
    %tr
      %th Nom
      %th Date début
      %th Date fin
      %th Nombre de propositions
      %th Actions
  %tbody
    - @weeks.each do |week|
      %tr
        %td= week.name
        %td= week.debut
        %td= week.fin
        %td= week.proposals.count
        %td
          = link_to "Consulter", week, :class => 'btn btn-mini'
          = link_to "Modifier", edit_week_path(week), :class => 'btn btn-mini'
          = link_to "Supprimer", week_path(week), :method => :delete, :data => { :confirm => "Êtes-vous sûr ?" }, :class => 'btn btn-mini btn-danger'

= link_to "Nouvelle Semaine", new_week_path, :class => 'btn btn-primary'
