- model_class = Week
.page-header
  %h1 Semaine

%p
  %strong Nom:
  %br
  = @week.name
%p
  %strong Date de début:
  %br
  = @week.debut
%p
  %strong Date de fin:
  %br
  = @week.fin

%h2 Propositions pour la Semaine
%table.table.table-striped
  %thead
    %tr
      %th Consultant
      %th Date Arrivée
      %th Nombre Jours
      %th Actions
  %tbody
    - @week.proposals.each do |proposal|
      %tr
        %td= proposal.consultant.name
        %td= proposal.date_arrivee
        %td= proposal.nombre_jours
        %td
          = link_to "Consulter", proposal, class: "btn btn-mini"
          = link_to "Modifier", edit_proposal_path(proposal), :class => 'btn btn-mini'
          = link_to "Supprimer", proposal_path(proposal), :method => :delete, :data => { :confirm => "Êtes-vous sûr ?" }, :class => 'btn btn-mini btn-danger'

.form-actions
  = link_to "Retour aux Semaines", weeks_path, :class => 'btn'
  = link_to "Modifier", edit_week_path(@week), :class => 'btn'
  = link_to "Supprimer", week_path(@week), :method => "delete", :data => { :confirm => "Êtes-vous sûr ?" }, :class => 'btn btn-danger'
