- model_class = Entity
.page-header
  %h1 Les Entitités
%table.table.table-striped
  %thead
    %tr
      %th Nom
      %th Description
      %th Nombre de consultants
      %th Actions
  %tbody
    - @entities.each do |entity|
      %tr
        %td= entity.name
        %td= entity.description
        %td= entity.consultants.size
        %td
          = link_to "Consulter", entity, :class => 'btn btn-mini'
          = link_to "Modifier", edit_entity_path(entity), :class => 'btn btn-mini'
          = link_to "Supprimer", entity, :method => :delete, :data => { :confirm => "Êtes-vous sûr ?" }, :class => 'btn btn-mini btn-danger'

= link_to "Nouvelle Entité", new_entity_path, :class => 'btn btn-primary'
