- model_class = Proposal
.page-header
  %h1 Les Propositions
%table.table.table-striped
  %thead
    %tr
      %th Consultant
      %th Date Arrivée
      %th Nombre Jours
      %th Liste
      %th Semaine
      %th Actions
  %tbody
    - @proposals.each do |proposal|
      %tr
        %td= "#{proposal.consultant.first_name} #{proposal.consultant.last_name}"
        %td= proposal.date_arrivee
        %td= proposal.nombre_jours
        %td= proposal.list.name
        %td= proposal.list.week.name
        %td
          = link_to "Consulter", proposal, class: 'btn btn-mini'
          = link_to "Modifier", edit_proposal_path(proposal), :class => 'btn btn-mini'
          = link_to "Supprimer", proposal_path(proposal), :method => :delete, :data => { :confirm => "Êtes-vous sûr ?" }, :class => 'btn btn-mini btn-danger'

= link_to "Nouvelle Proposition", new_proposal_path, :class => 'btn btn-primary'
